Formal stuff.zip
"docs/Apresenta\303\247\303\243o.pptx"
docs/Declaracao_Aceitacao_Orientador_signed.pdf
docs/Formal stuff/
docs/MScThesisGilTeixeira.pdf
docs/Proposta_Arguente_e_Orientador_Juri_signed.pdf
docs/artigo_revista_DETI.pdf
"docs/~$Apresenta\303\247\303\243o.pptx"